.navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.navbarCont {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-style: italic;
  font-weight: 800;
  cursor: pointer;
}

.navItem {
  margin-right: 80px;
}

.navBtn {
  background-color: #0000ff;
  padding: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
